# Ignorar pastas inteiras
/__pycache__
/agent_files
/results
/results3
/comparisons_1
/comparisons_123
/docker-compose
/gerar_matrizes_trafego.py
/Dockerfile
/garficos.py
/links_dis.py
/requirements.txt
/verificar_nodes_grau.py
/visualize_topologies.py
/test
/venv-gpu-test